


.menu_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.menu_nav li {
    float: left;
}

.menu_nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_nav li a:hover:not(.active) {
    background-color: #ddd;
}

.menu_nav li a.active {
    color: white;
    background-color: #4682B4;
}

.menu_nav h2 {
    color: #4682B4;
}