

.table_style table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

.table_style table {
    border-collapse: collapse;
    width: 100%;
}

.table_style th, td {
    padding: 15px;
}

.table_style tr:nth-child(even){background-color: #f2f2f2}

.table_style th {
    background-color: #4682B4;
    color: white;
}



.table_style2 table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

.table_style2 table {
    border-collapse: collapse;
    width: 100%;
}

.table_style2 th, td {
    padding: 6px;
}


.table_empty table, td, th {    
    border: none;
    outline: none;
    text-align: center;
}

.table_empty table {
    border-collapse: collapse;
    width: 100%;
}

.table_empty th, td {
    border: none;
    outline: none;
    padding: 6px;
}